<div style="padding: 50px; text-align: center;">
  <h1>Mi Nueva Tienda Alppino</h1>
  <p>Si ves esto, la conexión funcionó.</p>
</div>

{% schema %}
{
  "name": "Bundle Offer",
  "settings": []
}
{% endschema %}
